<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alter Review</title>
    
    <link rel="stylesheet" href="reviews.css">
</head>
<body>


    <div class="container">
      
        
          
        <form>
          <label for="destination">Destination</label>
          <input type="text" id="destination" name="destination"  required>
        
          <label for="rating">Rating</label>
          <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        
          <label for="feedback">Feedback</label>
          <textarea id="feedback" name="feedback" rows="5" required></textarea>
        
          <label for="suggestions">Suggestions</label>
          <textarea id="suggestions" name="suggestions" rows="5"></textarea>
        
         <a href="/signup"><input type="submit" value="Submit Review"></a>
        </form>
        
    
  </div>

  <br>
  <br>
  <br>
  
    
</body>
</html>