
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>alter1</title>
  <style>
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 10px;
    }
  
    label {
      color: #666;
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    input[type="text"] {
      padding: 12px 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: none;
      box-shadow: 2px 2px 3px #ccc;
    }
  
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }

    .anchor{
      text-decoration: none;
      color : white;
    }
  </style>
</head>
<body>
  <div>
    <form action="/alter1" method="post" >
      <label for="destination">Destination</label>
      <input type="text" id="destination" name="destination">
      <br><br>
      <div class="d-grid gap-2 col-6 mx-auto text-center">
        <button class="btn btn-primary" type="submit"><a class="anchor" href="/alter_rev" >Alter your review</a>
       
      </div>
    </form> 
  </div>

</body>
</html>

  

  