<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="nethravathi.css">
    <title>BookYourTrek</title>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index2">BookYourTrek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-between nav-fill">
            <li class="nav-item active">
              <a class="nav-link" href="/index2">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
      

      
    <div class="card text-dark bg-light mb-3 w-75" style="max-width: 58rem;">
      <div class="card-header">Quick info</div>
        <div class="card-body">
          
          <p class="card-text">
            <div class="heading-container">
              <span class="heading">Duration :</span> <span>2 Days / 1 Nights</span>
              <span class="heading head1">Trek Distance :</span> <span>14 Km</span>
            </div>
            <div class="heading-container">
              <span class="heading">Max Altitude :</span> <span>4986 ft.</span>
              <span class="heading head2">Location :</span> <span>Nethravathi, Karnataka</span>
            </div>
            <div class="heading-container">
              <span class="heading">Difficulty Level :</span> <span>Moderate</span>
              <span class="heading head3">Min Age :</span> <span>10+ years</span>
            </div>
          </p>
        </div>
    </div>




    <div class="card bg-light mb-3" style="max-width: 58rem;">
        
      <div class="card-body">
          <h5 class="card-title">About the trip</h5>
          <p class="card-text" style="word-spacing: 10px; letter-spacing: 1px;">
            Netravathi Peak Trek, at an elevation of 1,520 metres, sits on the border between the Dakshina Kannada administrative division of Belthangadi 
            Taluk and the Karnataka administrative division of Chikmagalur District. Because of its unique ecosystems, the Western Ghats have been 
            designated as a UNESCO World Heritage Site. Despite its proximity to well-known landmarks like the Kudremukh, this hike is not as well-known 
            as others in the region. One of Chikmagalur’s lesser-known hiking routes.</p>
      </div>
    </div>


    <div class="card bg-light mb-3" style="max-width: 58rem;">
        
        <div class="card-body">
          <h4 class="card-title">Brief Itinerary</h4>
          <br>
          
          <h5 class="card-title"> Day 0 – Friday</h5>
          <p class="card-text">
            <ul>
              <li>Depart from Bangalore starting at 9:00 PM ( approx )</li>
            </ul>
            <br>
          </p>
          <h5 class="card-title"> Day 1 – Saturday</h5>
          <p class="card-text">
            <ul>
              
              <li>Freshen up and finish breakfast by 6:45 AM ( approx )</li>
              <li>Take a jeep ride to the trek base from homestay ( 30 – 40 minutes )</li>
              <li>Start the trek by around 7:30 AM ( approx )</li>
              <li>Lunch at the peak</li>
              <li>Descend and reach back to the base by 5:30 PM ( tentative )</li>
              <li>Dinner and retire for the night</li>
            </ul>
            <br>
          </p>

          <h5 class="card-title"> Day 2 – Sunday</h5>
          <p class="card-text">
            <ul>
              
              <li>Freshen up and breakfast</li>
              <li>Visit Kodige Falls</li>
              <li>En-route stop for lunch ( self-sponsored )</li>
              <li>Visit Veeernaryana Swamy Temple</li>
              <li>Reach Bangalore by 10:00 PM ( approx )</li>
              
            </ul>
            <br>
          </p>

            
        </div>
    </div>
      
    <form action="/nethravathi" method="post">
    <div class="card form bg-light mb-3" style="max-width: 58rem;">
      <div class="container">
        <div class="form-floating mb-3">
          <label for="floatingInput">Destination Name</label>
          <input type="text" class="form-control" id="floatingInput" name="Dest_name" value="Nethravathi">
        </div>

        <div class="form-floating mb-3">
          <label for="floatingInput">Trek Distance</label>
          <input type="text" class="form-control" name="Trek_Distance" value="14KM" >
        </div>
        <br>
        <hr>
        <br>
        <div class="form-floating">
          <label for="floatingPassword">Pickup Point</label>
         
          <select class="form-select form-select-lg" name="Pickup_point" aria-label=".form-select-lg example">
            <option selected>( select )</option>
            <option value="Bangalore University">Bangalore University</option>
            <option value="Vijayanagar">Vijayanagar</option>
            <option value="HSR Layout">HSR Layout</option>
          </select>
        </div>
        <br>
        <div class="form-floating mb-3">
          <label for="floatingInput">Number of People</label>
          <input type="number" min="1" max="10" class="form-control" id="floatingInput" name="No_of_Members"  placeholder="1-10">
        </div>
        
        <div class="form-floating">
          <label for="floatingPassword">Date</label>
          <input type="text" class="form-control" id="floatingInput" name="Date" placeholder="yyyy-mm-dd">
          
        </div>
        <br>
        <hr>
        <br>
        <div class="form-floating">
          <label for="floatingPassword">Mode of payment</label>
          <br>
          <select class="form-select form-select-lg" name="Mode_of_payment" aria-label=".form-select-lg example">
            <option selected>( select )</option>
            <option value="UPI">UPI</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Banking">Net Banking</option>
          </select>
        </div>
        <br>
        <div class="form-floating">
          <label for="floatingPassword">Coupons</label>
          <br>
          <select class="form-select form-select-lg" name="Coupons" aria-label=".form-select-lg example">
            <option selected>( select )</option>
            <option value="0.1">10%</option>
            <option value="0.15">15%</option>
            <option value="0.2">20%</option>
          </select>
        </div>
        <br>
        <div class="form-floating mb-3">
          <label for="floatingInput">Cost</label>
          <input type="text" class="form-control" id="floatingInput" name="Cost" value="3999" >
        </div>
        <br>


        <button type="submit" class="btn btn-primary btn-block" value="submit">Confirm Booking</button>
      </div>
    </div>
  </form>


    



          
          
    
    
    



    
    
        
        
    









      <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #27282b">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Destinations</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/reviews" class="text-white">Reviews</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Help</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              BookYourTrek is a leading trekking agency that specializes in providing unforgettable outdoor adventures. 
              We offer a wide range of trekking and hiking trips to some of the most beautiful and remote places on earth.
             Our experienced guides and support staff are dedicated to making your trekking experience safe, enjoyable and memorable.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >BookYourTrek.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->



  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    
   
  
  

  
  </body>
</html>